*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: #4B527E;

}
.inner-div{
    display: flex;
    justify-content: center;
    
}
.navbar{
    display: flex;
    position: relative;
}
ul li{
    list-style: none;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 25px;
    padding-right: 20px;

}
ul a{
text-decoration: none;
color: #E9B824;
}
ul a:hover,
ul a:active
{
    text-decoration: none;
    color:rgb(37, 8, 65);
    }

    /* --------------------------MEDIA QUERY --------------------------------------- */
    /* --------------------------EXTRA SMALL SCREENS (PHONES)----------------------- */
    @media screen and (max-width:320px) {
        ul li{
            font-size: 13px;
            padding-right: 10px;
        }

    }
    /* --------------------------------SMALL SCREENS (PHONES AND SMALL TABLETS)--------------- */
    @media(min-width:320px) and (max-width:768px){
        ul li{
            font-size: 14px;
            padding-right: 10px;
        }
    }
    /* ---------------------------MEDIUM SCREENS (TABLETS)------------------------------------- */
    @media(min-width:768px) and (max-width:992px){
        ul li{
            font-size: 20px;
            padding-right: 14px;
        }
    }
    /* ----------------------------LARGE SCREENS (DESKTOPS)------------------------------------ */
    @media(min-width:992px) and (max-width:1200px){
        ul li{
            font-size: 25px;
            padding-right: 20px;
        }
    }
    /* ---------------------------EXTRA LARGE SCREENS (LARGE DESKTOPS)------------------------ */
    @media screen and (min-width:1200px){
        ul li{
            font-size: 27px;
            padding-right: 22px;
        }
    }