/* @import "Footer.css"; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
}
.home-body {
  background-color: #53629E;
  height: 100vh;
}
.main-div {
  display: flex;
}
.main-div .div-one {
  width: 50%;
  text-align: centre;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}
.main-div .div-two {
  width: 50%;
  height: 80vh;
  /* border-radius: 2px; */
  background-image: url(../assets/one.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: solid 2px rgba(255,255,255,0.75);
}
.div-one h1 {
  font-family: "Kdam Thmor Pro", sans-serif;
  color: whitesmoke;
  font-size: 60px;
}
.div-one h4 {
  color: #e9b824;
  font-family: "Times New Roman";
  font-size: 40px;
}
hr {
  color: #e9b824;
}
/* ------------------------MEDIA QUERY ------------------------- */
/* -------------------EXTRA SMALL SCREENS (PHONES)-------------- */
@media screen and (max-width: 320px) {
  .main-div {
    display: block;
  }
  .main-div .div-one {
    width: 100%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-div .div-two{
    width: 100%;
    height: 100px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .div-one h1 {
    font-size: 25px !important;
  }
  .div-one h4 {
    font-size: 20px !important;
  }
  hr {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* ----------------------SMALL SCREENS (MOBILES AND SMALL TABLETS ---------------------- */
@media screen and (min-width: 320px) and (max-width:768px){
    .main-div {
        display: block;
      }
      .main-div .div-one {
        width: 100%;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .main-div .div-two{
        width: 100%;
        height: 40vh;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .div-one h1 {
        font-size: 35px !important;
      }
      .div-one h4 {
        font-size: 25px !important;
      }
      hr {
        display: flex;
        justify-content: center;
        align-items: center;
      }
}
/* --------------------------MEDIUM SCREENS (TABLETS)----------------------------------------- */
@media screen and (min-width: 768px) and (max-width:992px){
    .main-div {
        display: flex;
      }
      .main-div .div-one {
        width: 50%;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .main-div .div-two{
        width: 50%;
        height: 80vh;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .div-one h1 {
        font-size: 40px !important;
      }
      .div-one h4 {
        font-size: 30px !important;
      }
      hr {
        display: flex;
        justify-content: center;
        align-items: center;
      }
}
/* -------------------------LARGE SCREEN (DESKTOPS)------------------------ */
@media screen and (min-width: 992px) and (max-width:1200px){
    .main-div {
        display: flex;
      }
      .main-div .div-one {
        width: 50%;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .main-div .div-two{
        width: 50%;
        height: 80vh;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .div-one h1 {
        font-size: 55px !important;
      }
      .div-one h4 {
        font-size: 40px !important;
      }
      hr {
        display: flex;
        justify-content: center;
        align-items: center;
      }
}
/* -------------------EXTRA LARGE SCREEN (LARGE DESKTOPS)------------------------ */
@media screen and (min-width: 1200px) {
    .main-div {
        display: flex;
      }
      .main-div .div-one {
        width: 50%;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .main-div .div-two{
        width: 50%;
        height: 85vh;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .div-one h1 {
        font-size: 65px !important;
      }
      .div-one h4 {
        font-size: 45px !important;
      }
      hr {
        display: flex;
        justify-content: center;
        align-items: center;
      }
}