*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body{
        width: 100%;
        height: 100%;
    }
#para{
    text-align: center;
    display: flex;
    justify-content:center;
    color: #EDB7ED;
    font-size: 20px;
 font-family: 'Times New Roman';
}

.alignments{
    margin-top:2rem;
  
}
hr{
    color: #E9B824;
} 

/* ----------------------------------------------------MEDIA QUERY ---------------------------------------------------- */
/* ------------------------------------ SMALL SCREENS (MOBILES)--------------------------------------------------------*/
/* @media screen and (max-width:320px){
    .always{
        margin-bottom: 10px;
        display: content;
    }
    .card-img-top{
        width: 150px;
        height: 90px;
    }
    .cardImagee{
        width: 200px !important;
        height: 150px;
    }
} */